header
  .container
    nav#nav-menu.nav-menu
      .container
        //- .main-menu.d-flex.justify-content-center
        .main-menu.d-flex.justify-content-around
          .d-flex.flex-column.justify-content-center.xs-m-auto.md-m-unset
            a(href="./")
              //- img.logo.pb-2(src="./img/logo.png", alt="Inicio")
              img.logo.pb-2(src="./img/logo.svg", alt="Inicio")
          ul#menu.menu.d-flex.flex-column.flex-md-row.justify-content-center.tradeGothic
            li
              a(href="./about.html", class=`${paginaActual==="about" ? "active": ""}`)
                span NOSOTROS
            li
              a(href="./products.html", class=`${paginaActual==="products" ? "active": ""}`)
                span PRODUCTOS
            li
              a(href="./recipes.html", class=`${paginaActual==="recipes" ? "active": ""}`)
                span RECETAS
            li
              a(href="./blog.html", class=`${paginaActual==="blog" ? "active": ""}`)
                span BLOG
            li
              a(href="./contact.html", class=`${paginaActual==="contact" ? "active": ""}`)
                span CONTÁCTANOS
            li
              a(href="#")
                img(src="./img/icon/fa-youtube.svg", alt="")
            li
              a(href="#")
                img(src="./img/icon/fa-facebook.svg", alt="")
            li
              a(href="#")
                img(src="./img/icon/fa-instagram.svg", alt="")
    div#toggle-menu.toggle-menu.shadow
      span.hamburger
